@import "../../style/variables";

.div{
    position: relative;
    background:$task-cont-background;
     width: fit-content;
     display: flex;
     height: 4em;
     width: 100%;
     border-radius: $task-cont-border-radius;
     &:hover{
        scale:1.01;
     }
     .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding:5px;
        cursor: pointer;
     }     
    &.complete{
        &::before{
            position: absolute;
            left:0;
            top:50%;
            transform: translateY(50%);
            height: 1px;
            background: grey;
            width: 100px;
            content: "";
            display: block;
            z-index: 100;
        }
        color:grey;
    }
}