@import "../../style/mixins";

.button{
    padding:.5em 1.5em;
    border:none;
    background:rgb(221, 221, 221);
    color:black;
    border-radius: 30px;
    opacity: .6;
    cursor: pointer;
    &:hover{
        opacity: 1;

    }
    &.selected{
        @include selected-btn;
    }
}