
$main-background:rgb(250, 250, 250);

$module-background:#f4f4f4;

$task-cont-background:#ececec;
$task-cont-border-radius:5px;

$checkbox-cont-padding:7px;

$checkbox-cont-bg:orange;

$checkbox-size:15px;
$checkbox-bg:rgba(255, 255, 255, 0.4);
