@import "../../style/variables";
.main{
    background:$main-background;
    margin:auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 1200px;
    margin:auto;
}