@import "../../style/variables";
.main{
    background:$main-background;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    height: 100vh;
}